<!DOCTYPE html>
<html lang="cn">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <meta name="keywords" content="Monitor">
    <meta name="description" content="Monitor">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static "css/bundle.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/app.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/aman.css" %}" type="text/css">
</head>
<body class="form-membership">
<div class="form-wrapper">
    <!-- logo -->
    <div id="logo">
        <img style="width: 50%;" class="logo" src="{% static "images/logo.png" %}" alt="image">
    </div>
    <!-- form -->
    <form id="form" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ loginform.username }}
            {{ loginform.passwd }}
        </div>
        <div class="form-row">
            <div class="form-group col-8 mb-0">
                <input autocomplete="off" id="id_captcha_1" name="captcha_1" type="text" placeholder="验证码"
                       required="True" class="form-control">
            </div>
            <div class="form-group col-4 mb-0">
                <input id="id_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}">
                <img src="{{ image_url }}" alt="captcha" class="captcha" style="width: 100%;">
            </div>
        </div>
        <button id="login" type="submit" class="btn btn-primary btn-block">登录</button>
        <hr>
        <div class="form-group d-flex justify-content-between">
                <span>
                    <a href="{% url 'register' %}">注册</a>
                    <span>|</span>
                    <a href="{% url 'reset' %}">忘记密码？</a>
                </span>
        </div>
    </form>
</div>
</body>
<script src="{% static "js/bundle.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/jquery.cookie.min.js" %}"></script>
<script src="{% static "js/toast.js" %}"></script>
<script src="{% static "js/aman.js" %}"></script>
<script src="{% static "js/md5.js" %}"></script>
<script>
    /*# 刷新函数 */
    function vcoderefresh() {
        console.log('click');
        $.getJSON("/captcha/refresh/",
            function (result) {
                $('.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').attr('value', ((result['image_url']).slice(-41, -1)));
            }
        );
    }

    /*# 注册提交表单 */
    $("#form").submit(function (event) {
        $("#login").attr("disabled", "true");
        let btn = $("#login");
        event.preventDefault();
        event.stopPropagation();
        if (document.getElementById('form').checkValidity()) {
            let loginform = new FormData();  // 实例化一个对象
            loginform.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            loginform.append('username', $('#id_username').val());
            loginform.append('passwd', hex_md5($('#id_passwd').val()));
            loginform.append('vcode', $('#id_captcha_1').val());
            loginform.append('hash_key', $('#id_captcha_0').val());
            $.ajax({
                url: '',
                type: 'POST',
                data: loginform,
                processData: false, // tell jQuery not to process the data
                contentType: false, // tell jQuery not to set contentType
                success: function (ret) {
                    if (ret['stcode'] == '0') {
                        swal(
                            'ERROR',
                            ret['message'],
                            'error'
                        ).then(vcoderefresh());
                    } else {
                        swal(
                            'SUCCESS',
                            ret['message'],
                            'success',
                        ).then(function () {
                            window.location.href =
                            {% url 'webshell_detect' %}
                        });
                    }

                },
            });
            btn.removeAttr("disabled");
        } else {
            $("#reg").removeAttr("disabled");
        }
    })

    /*# 点击刷新验证码  */
    $(function () {
        $('.captcha').css(
            {
                'cursor': 'pointer'
            }
        );
        /*# ajax 刷新*/
        $('.captcha').click(
            function () {
                console.log('click');
                $.getJSON("/captcha/refresh/",
                    function (result) {
                        $('.captcha').attr('src', result['image_url']);
                        $('#id_captcha_0').attr('value', ((result['image_url']).slice(-41, -1)));
                    }
                );
            }
        );
    })
</script>
</html>

